* {
    margin: 0;
    padding: 0;
}

#btnRegist {
    display: block;
    margin-left: auto;
}

/* 달력 */
.sunday {
    color: var(--bs-danger);
}

.saturday {
    color: var(--bs-primary);
}

.weekday {
    color: var(--bs-dark);
}

.other-month {
    color: var(--bs-secondary);
}

.selected span {
    background-color: var(--bs-dark);
    color: var(--bs-light);
    border-radius: 50%;
}

.today span {
    background-color: var(--bs-secondary);
    color: var(--bs-light);
    border-radius: 50%;
}

.calendar {
    padding: 20px;
    border-radius: 20px;
    background: var(--bs-light);
    box-shadow: 0 8px 24px var(--bs-secondary);

    font-size: 14px;
}

.calendar-header {
    padding: 20px 0px 40px;
    font-size: 24px;
}

.calendar-body > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-week {
    border-bottom: 1px solid var(--bs-secondary);
    padding-bottom: 5px;
}

.calendar-week div {
    text-align: center;
}

.calendar-date > div {
    min-width: 0;
    min-height: 120px;
    background-color: var(--bs-light);
    border-right: 1px solid var(--bs-secondary);
    border-bottom: 1px solid var(--bs-secondary);
    padding: 5px;
}

/* 마지막 열 오른쪽 경계선 없애기 */
.calendar-date div:nth-child(7n) {
    border-right: none;
}

.calendar-date span {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='button'] {
    border: 0px;
    background: var(--bs-light);
}

/* 달력 일정 */
.plan-item {
    display: inline-block;
    margin: 5px 0px;
    padding: 2px 5px;
    width: 100%;
    color: white;
    background-color: var(--bs-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}