@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");


* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    background-color: #FCFCFD;
}

.content {
    margin-left: 300px;
}

.content-nonside {
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

th > a {
    text-decoration: none;
    color: black;
}

th > a:hover {
    text-decoration: underline;
}

.warning-text {
    color: tomato;
    font-size: 0.8rem;
    margin: 0.2rem 0 0 0.2rem;
}

.success-text {
    color: mediumseagreen;
    font-size: 0.8rem;
    margin: 0.2rem 0 0 0.2rem;
}

.char-counter {
    font-size: 0.8rem;
    color: lightgray;
}