<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.LectureMapper">

    <!--강좌 메인 조회-->
    <select id="selectLectureMain" resultType="net.spb.spb.domain.LectureVO">
        select lectureIdx, lectureTitle, lectureDescription, lectureThumbnailImg
        from tbl_lecture
        where lectureIdx = #{lectureIdx}
    </select>
    <!--강좌별 강의 조회-->
    <select id="selectLectureChapter">
        select chapterIdx, chapterName, chapterRuntime
        from tbl_lecture_chapter
        where chapterLectureIdx = #{lectureIdx}
        and chapterState = '1'
        order by chapterIdx asc
    </select>
    <!--북마크 저장-->
    <insert id="addBookmark">
        insert into tbl_bookmark (bookmarkLectureIdx, bookmarkMemberId)
        VALUES (#{lectureIdx}, #{memberId})
    </insert>
    <!--북마크 삭제-->
    <delete id="deleteBookmark">
        delete from tbl_bookmark
        where bookmarkLectureIdx = #{lectureIdx}
        and bookmarkMemberId = #{memberId}
    </delete>
    <!--동영상 주소 조회-->
    <select id="getChapterById">
        select chapterIdx, chapterVideo, chapterRuntime
        from tbl_lecture_chapter
        where chapterIdx = #{chapterIdx}
    </select>
</mapper>    