<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.domain.MemberVO">
    <select id="selectStudentListTotalCountByIdx" resultType="int">
        select count(*)
        from tbl_lecture_register as tlr
                 inner join tbl_member as tm on tlr.lectureRegisterMemberId = tm.memberId
        where tlr.lectureRegisterRefIdx = #{idx}
    </select>
    <select id="selectStudentListByIdx" resultType="net.spb.spb.domain.MemberVO">
        select
            tm.memberId,
            tm.memberName,
            tm.memberProfileImg
        from tbl_lecture_register as tlr
        inner join tbl_member as tm on tlr.lectureRegisterMemberId = tm.memberId
        where tlr.lectureRegisterRefIdx = #{idx}
    </select>
</mapper>