<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.MemberMapper">
    <select id="login" parameterType="net.spb.spb.domain.MemberVO" resultType="int">
        select count(memberIdx)
        from tbl_member
        where memberId = #{memberId}
          and memberPwd = #{memberPwd}
    </select>

    <!--  존재하는 회원인지 + 아이디 중복 체크용  -->
    <select id="existMember" parameterType="String" resultType="net.spb.spb.domain.MemberVO">
        select memberIdx
        from tbl_member
        where memberId = #{memberId}
    </select>

    <insert id="join" parameterType="net.spb.spb.domain.MemberVO">
        insert into tbl_member(memberId, memberPwd, memberName, memberZipCode, memberAddr1, memberAddr2, memberBirth,
                               memberGrade, memberEmail, memberPhone, memberJoinPath)
        values (#{memberId}, #{memberPwd}, #{memberName}, #{memberZipCode}, #{memberAddr1}, #{memberAddr2},
                #{memberBirth}, #{memberGrade}, #{memberEmail}, #{memberPhone}, #{memberJoinPath})
    </insert>

    <select id="getMemberById" parameterType="String" resultType="net.spb.spb.domain.MemberVO">
        select memberId,
               memberName,
               memberZipCode,
               memberAddr1,
               memberAddr2,
               memberBirth,
               memberGrade,
               memberEmail,
               memberPhone,
               memberJoinPath,
               memberState,
               memberPwdChangeDate,
               memberLastLogin
        from tbl_member
        where memberId = #{memberId}
    </select>

    <update id="updateMember" parameterType="net.spb.spb.domain.MemberVO">
        update tbl_member
        set memberName    = #{memberName},
            memberZipCode = #{memberZipCode},
            memberAddr1   = #{memberAddr1},
            memberAddr2   = #{memberAddr2},
            memberGrade   = #{memberGrade}
            where memberId = #{memberId}
    </update>

    <update id="updateMemberStateWithLogin" parameterType="String">
        update tbl_member
        set memberState = #{memberState}
            where memberId = #{memberId}
    </update>

    <update id="updateMemberPwdChangeDateWithLogin" parameterType="String">
        update tbl_member
        set memberPwdChangeDate = #{memberPwdChangeDate}
            where memberId = #{memberId}
    </update>

    <update id="updateMemberLastLoginWithLogin" parameterType="String">
        update tbl_member
        set memberLastLogin = #{memberLastLogin}
            where memberId = #{memberId}
    </update>

    <select id="getPwdById" parameterType="String" resultType="String">
        select memberPwd
        from tbl_member
        where memberId = #{memberId}
    </select>

    <select id="getAllMembers" resultType="net.spb.spb.domain.MemberVO" parameterType="net.spb.spb.dto.MemberPageDTO">
        select memberIdx,
        memberId,
        memberName,
        memberBirth,
        memberCreatedAt,
        memberState,
        memberGrade,
        memberEmail,
        memberPhone
        from tbl_member
        <where>
            1=1
            <if test="search_member_state != null and search_member_state != ''">
                and memberState = #{search_member_state}
            </if>
            <if test="search_member_grade != null and search_member_grade != ''">
                <if test="search_member_grade gte 0 and search_member_grade lte 14">
                    and memberGrade = #{search_member_grade}
                </if>
            </if>
            <if test="search_word != null and search_word != ''">
                and (
                memberId like concat('%', #{search_word}, '%')
                or memberName like concat('%', #{search_word}, '%')
                )
            </if>
        </where>
        order by ${sort_by} ${sort_direction}
        limit #{page_skip_count}, #{page_size}
    </select>

    <update id="updateMemberState" parameterType="net.spb.spb.domain.MemberVO">
        update tbl_member
        set memberState = #{memberState}
        where memberIdx = #{memberIdx}
    </update>

    <update id="updateMemberByAdmin" parameterType="net.spb.spb.domain.MemberVO">
        update tbl_member
        set memberState   = #{memberState},
            memberName    = #{memberName},
            memberZipCode = #{memberZipCode},
            memberAddr1   = #{memberAddr1},
            memberAddr2   = #{memberAddr2},
            memberGrade   = #{memberGrade}
        where memberId = #{memberId}
    </update>

    <select id="getMemberCount" resultType="java.lang.Integer" parameterType="net.spb.spb.dto.MemberPageDTO">
        select count(memberIdx)
        from tbl_member
        <where>
            1=1
            <if test="search_member_state != null and search_member_state != ''">
                and memberState = #{search_member_state}
            </if>
            <if test="search_member_grade != null and search_member_grade != ''">
                <if test="search_member_grade gte 0 and search_member_grade lte 14">
                    and memberGrade = #{search_member_grade}
                </if>
            </if>
            <if test="search_word != null and search_word != ''">
                and (
                memberId like concat('%', #{search_word}, '%')
                or memberName like concat('%', #{search_word}, '%')
                )
            </if>
        </where>
    </select>

</mapper>