<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.MemberMapper">
    <select id="login" parameterType="net.spb.spb.domain.MemberVO" resultType="int">
        select count(memberIdx)
        from tbl_member
        where memberId = #{memberId}
          and memberPwd = #{memberPwd}
    </select>

<!--  존재하는 회원인지 + 아이디 중복 체크용  -->
    <select id="existUser" parameterType="String" resultType="net.spb.spb.domain.MemberVO">
        select memberIdx
        from tbl_member
        where memberId = #{memberId}
    </select>

    <insert id="join" parameterType="net.spb.spb.domain.MemberVO">
        insert into tbl_member(memberId, memberPwd, memberName, memberZipCode, memberAddr1, memberAddr2, memberBirth,
                               memberGrade, memberEmail, memberPhone, memberJoinPath)
        values (#{memberId}, #{memberPwd}, #{memberName}, #{memberZipCode}, #{memberAddr1}, #{memberAddr2},
                #{memberBirth}, #{memberGrade}, #{memberEmail}, #{memberPhone}, #{memberJoinPath})
    </insert>

    <select id="getMemberById" parameterType="String" resultType="net.spb.spb.domain.MemberVO">
        select memberId,
               memberName,
               memberZipCode,
               memberAddr1,
               memberAddr2,
               memberBirth,
               memberGrade,
               memberEmail,
               memberPhone,
               memberJoinPath,
               memberGrade
        from tbl_member
        where memberId = #{memberId}
    </select>

    <update id="updateMember" parameterType="net.spb.spb.domain.MemberVO">
        update tbl_member
        set memberName    = #{memberName},
            memberZipCode = #{memberZipCode},
            memberAddr1   = #{memberAddr1},
            memberAddr2   = #{memberAddr2},
            memberGrade   = #{memberGrade}
        where memberId = #{memberId}
    </update>

    <select id="getPwdById" parameterType="String" resultType="String">
        select memberPwd
        from tbl_member
        where memberId = #{memberId}
    </select>
</mapper>