<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.MyPageMapper">
    <!-- 좋아요 목록  -->
    <select id="listMyLikes">
        SELECT
        postLikeIdx,
        postLikeRefIdx,
        postLikeRefType,
        postLikeMemberId,
        postLikeCreatedAt,
        postTitle,
        postMemberId,
        postCreatedAt,
        postContent
        FROM tbl_post_like AS l
        JOIN tbl_post AS p ON l.postLikeRefIdx = p.postIdx
        WHERE postLikeMemberId = #{postLikeMemberId}
        AND postLikeRefType = 'POST'

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postMemberId'">
                    AND postMemberId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>
        <if test="searchDTO.startDate != null and searchDTO.startDate != ''
       and searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'postLikeCreatedAt'">
                    AND postLikeCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
        <choose>
            <when test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
                ORDER BY
                <choose>
                    <when test="searchDTO.sortColumn == 'postTitle'">postTitle</when>
                    <when test="searchDTO.sortColumn == 'postMemberId'">postMemberId</when>
                    <when test="searchDTO.sortColumn == 'postCreatedAt'">postCreatedAt</when>
                    <otherwise>postCreatedAt</otherwise>
                </choose>
                <choose>
                    <when test="searchDTO.sortOrder == 'asc'">ASC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY postCreatedAt DESC
            </otherwise>
        </choose>
        LIMIT #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>

    <select id="likesTotalCount" resultType="int" parameterType="String">
        select count(postLikeIdx)
        from tbl_post_like AS l
        JOIN tbl_post AS p on l.postLikeRefIdx = p.postIdx
        where postLikeMemberId = #{postLikeMemberId}
        and postLikeRefType = 'POST'
        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postMemberId'">
                    AND postMemberId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>
        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'postLikeCreatedAt'">
                    AND postLikeCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>
    <delete id="cancelLike">
        delete
        from tbl_post_like
        where postLikeRefIdx = #{postIdx}
    </delete>


    <!-- 신고한 자유게시판 게시글 목록  -->
    <select id="listMyReport">
        SELECT
        reportIdx,
        reportRefIdx,
        reportMemberId,
        reportCreatedAt,
        reportState,
        postTitle,
        postMemberId,
        postCreatedAt,
        postContent
        FROM tbl_report AS r
        JOIN tbl_post AS p ON r.reportRefIdx = p.postIdx
        WHERE reportMemberId = #{reportMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postMemberId'">
                    AND postMemberId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
           searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'reportCreatedAt'">
                    AND reportCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
        <if test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
            ORDER BY
            <choose>
                <when test="searchDTO.sortColumn == 'postTitle'">postTitle</when>
                <when test="searchDTO.sortColumn == 'postMemberId'">postMemberId</when>
                <when test="searchDTO.sortColumn == 'postCreatedAt'">postCreatedAt</when>
                <otherwise>postCreatedAt</otherwise>
            </choose>
            <choose>
                <when test="searchDTO.sortOrder == 'asc'">ASC</when>
                <otherwise>DESC</otherwise>
            </choose>
        </if>

        LIMIT #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>
    <select id="reportTotalCount" resultType="int" parameterType="String">
        select count(reportIdx)
        from tbl_report AS r
        JOIN tbl_post AS p on r.reportRefIdx = p.postIdx
        where reportMemberId = #{reportMemberId}
        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postMemberId'">
                    AND postMemberId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>
        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'reportCreatedAt'">
                    AND reportCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>
    <delete id="deleteReport">
        delete from tbl_report
        where reportIdx = #{reportIdx}
    </delete>

    <!-- 주문 목록  -->
    <select id="listMyOrder">
        SELECT
        o.orderIdx,
        orderMemberId,
        orderAmount,
        orderStatus,
        orderCreatedAt,
        orderUpdatedAt,
        lectureIdx,
        lectureTitle,
        lectureDescription,
        lectureTeacherId,
        lectureCreatedAt,
        lectureThumbnailImg,
        lectureAmount
        FROM tbl_order_info AS o
        JOIN tbl_order_lecture AS ol ON o.orderIdx = ol.orderIdx
        JOIN tbl_lecture AS l ON ol.orderLectureIdx = l.lectureIdx
        WHERE orderMemberId = #{orderMemberId}
        AND orderStatus = 's'

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    AND lectureTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureTeacherId'">
                    AND lectureTeacherId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureDescription'">
                    AND lectureDescription LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'orderCreatedAt'">
                    AND orderCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    AND lectureCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        <if test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
            ORDER BY
            <choose>
                <when test="searchDTO.sortColumn == 'orderAmount'">orderAmount</when>
                <when test="searchDTO.sortColumn == 'orderCreatedAt'">orderCreatedAt</when>
                <otherwise>orderCreatedAt</otherwise>
            </choose>
            <choose>
                <when test="searchDTO.sortOrder == 'asc'">ASC</when>
                <otherwise>DESC</otherwise>
            </choose>
        </if>

        LIMIT #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>
    <select id="orderTotalCount" resultType="int">
        SELECT COUNT(DISTINCT o.orderIdx)
        FROM tbl_order_info o
        JOIN tbl_order_lecture ol ON o.orderIdx = ol.orderIdx
        JOIN tbl_lecture l ON ol.orderLectureIdx = l.lectureIdx
        WHERE o.orderMemberId = #{orderMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    AND l.lectureTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureDescription'">
                    AND l.lectureDescription LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureTeacherId'">
                    AND l.lectureTeacherId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'orderCreatedAt'">
                    AND o.orderCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    AND l.lectureCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>
    <select id="listMyOrdersByPage" resultType="Integer">
        SELECT DISTINCT o.orderIdx
        FROM tbl_order_info o
        JOIN tbl_order_lecture ol ON o.orderIdx = ol.orderIdx
        JOIN tbl_lecture l ON ol.orderLectureIdx = l.lectureIdx
        WHERE o.orderMemberId = #{orderMemberId}
        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    AND l.lectureTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureDescription'">
                    AND l.lectureDescription LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureTeacherId'">
                    AND l.lectureTeacherId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'orderCreatedAt'">
                    AND o.orderCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    AND l.lectureCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        ORDER BY
        <choose>
            <when test="searchDTO.sortColumn == 'orderAmount'">o.orderAmount</when>
            <when test="searchDTO.sortColumn == 'orderCreatedAt'">o.orderCreatedAt</when>
            <otherwise>o.orderCreatedAt</otherwise>
        </choose>
        <choose>
            <when test="searchDTO.sortOrder == 'asc'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>

        LIMIT #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>
    <select id="listLecturesByOrderIdxList" resultType="net.spb.spb.dto.OrderDTO">
        SELECT
        o.orderIdx,
        o.orderMemberId,
        o.orderAmount,
        o.orderStatus,
        o.orderCreatedAt,
        o.orderUpdatedAt,
        l.lectureIdx,
        l.lectureTitle,
        l.lectureDescription,
        l.lectureTeacherId,
        l.lectureCreatedAt,
        l.lectureThumbnailImg,
        l.lectureAmount
        FROM tbl_order_info o
        JOIN tbl_order_lecture ol ON o.orderIdx = ol.orderIdx
        JOIN tbl_lecture l ON ol.orderLectureIdx = l.lectureIdx
        WHERE o.orderIdx IN
        <foreach collection="orderIdxList" item="idx" open="(" separator="," close=")">
            #{idx}
        </foreach>

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    AND l.lectureTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureDescription'">
                    AND l.lectureDescription LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'lectureTeacherId'">
                    AND l.lectureTeacherId LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.endDate != null">
            <choose>
                <when test="searchDTO.dateType == 'orderCreatedAt'">
                    AND o.orderCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    AND l.lectureCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        ORDER BY
        <choose>
            <when test="searchDTO.sortColumn == 'orderAmount'">o.orderAmount</when>
            <when test="searchDTO.sortColumn == 'orderCreatedAt'">o.orderCreatedAt</when>
            <otherwise>o.orderCreatedAt</otherwise>
        </choose>
        <choose>
            <when test="searchDTO.sortOrder == 'asc'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>

    <update id="updateOrderStatus">
        UPDATE tbl_order_info
        SET orderStatus    = #{orderStatus},
            orderUpdatedAt = NOW()
        WHERE orderIdx = #{orderIdx}
          AND orderMemberId = #{memberId}
          AND orderStatus = 's'
    </update>

    <!--  비밀번호 변경  -->
    <update id="changePwd">
        update tbl_member
        set memberPwd           = #{memberPwd},
            memberPwdChangeDate = now()
        where memberId = #{memberId}
    </update>

    <!--  북마크   -->
    <select id="listMyBookmark" resultType="net.spb.spb.dto.BookmarkDTO">
        select
        b.bookmarkIdx,
        b.bookmarkLectureIdx,
        b.bookmarkMemberId,
        b.bookmarkState,
        b.bookmarkCreatedAt,
        l.lectureTitle,
        l.lectureThumbnailImg,
        l.lectureAmount,
        t.teacherName,
        l.lectureCreatedAt
        from tbl_bookmark b
        join tbl_lecture l on b.bookmarkLectureIdx = l.lectureIdx
        join tbl_teacher t on l.lectureTeacherId = t.teacherId
        where b.bookmarkMemberId = #{bookmarkMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    and l.lectureTitle like concat('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'teacherName'">
                    and t.teacherName like concat('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>
        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
               searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    and l.lectureCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'bookmarkCreatedAt'">
                    and bookmarkCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        <if test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
            order by
            <choose>
                <when test="searchDTO.sortColumn == 'lectureTitle'">l.lectureTitle</when>
                <when test="searchDTO.sortColumn == 'teacherName'">t.teacherName</when>
                <when test="searchDTO.sortColumn == 'lectureCreatedAt'">l.lectureCreatedAt</when>
                <when test="searchDTO.sortColumn == 'bookmarkCreatedAt'">b.bookmarkCreatedAt</when>
                <otherwise>bookmarkCreatedAt</otherwise>
            </choose>
            <choose>
                <when test="searchDTO.sortOrder == 'asc'">asc</when>
                <otherwise>desc</otherwise>
            </choose>
        </if>

        limit #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>
    <select id="bookmarkTotalCount" resultType="int">
        select count(bookmarkIdx)
        from tbl_bookmark b
        join tbl_lecture l on b.bookmarkLectureIdx = l.lectureIdx
        join tbl_teacher t on l.lectureTeacherId = t.teacherId
        where b.bookmarkMemberId = #{bookmarkMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'lectureTitle'">
                    and l.lectureTitle like concat('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'teacherName'">
                    and t.teacherName like concat('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
               searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'lectureCreatedAt'">
                    and l.lectureCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'bookmarkCreatedAt'">
                    and bookmarkCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>
    <delete id="cancelBookmark">
        delete
        from tbl_bookmark
        where bookmarkIdx = #{bookmarkIdx}
    </delete>


    <!--  게시글   -->
    <select id="listMyPost" resultType="net.spb.spb.dto.post.PostDTO">
        SELECT DISTINCT
        p.postIdx,
        p.postTitle,
        p.postContent,
        p.postMemberId,
        p.postCategory,
        p.postReadCnt,
        p.postCreatedAt,
        p.postUpdatedAt,
        p.postState,
        r.reportState
        FROM tbl_post AS p
        LEFT JOIN tbl_report AS r ON p.postIdx = r.reportRefIdx
        WHERE p.postMemberId = #{postMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND p.postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND p.postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
               searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND p.postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postUpdatedAt'">
                    AND p.postUpdatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        <if test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
            ORDER BY
            <choose>
                <when test="searchDTO.sortColumn == 'postIdx'">p.postIdx</when>
                <when test="searchDTO.sortColumn == 'postTitle'">p.postTitle</when>
                <when test="searchDTO.sortColumn == 'postContent'">p.postContent</when>
                <when test="searchDTO.sortColumn == 'postCreatedAt'">p.postCreatedAt</when>
                <otherwise>p.postIdx</otherwise>
            </choose>
            <choose>
                <when test="searchDTO.sortOrder == 'asc'">ASC</when>
                <otherwise>DESC</otherwise>
            </choose>
        </if>

        LIMIT #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>

    <select id="postTotalCount" resultType="int">
        SELECT COUNT(DISTINCT p.postIdx)
        FROM tbl_post AS p
        LEFT JOIN tbl_report AS r ON p.postIdx = r.reportRefIdx
        WHERE p.postMemberId = #{postMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postTitle'">
                    AND p.postTitle LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
                <when test="searchDTO.searchType == 'postContent'">
                    AND p.postContent LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
               searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'postCreatedAt'">
                    AND p.postCreatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postUpdatedAt'">
                    AND p.postUpdatedAt BETWEEN #{searchDTO.startDate} AND #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>

    <!-- 내가 작성한 댓글 목록 -->
    <select id="listMyComment" resultType="net.spb.spb.dto.post.PostCommentDTO">
        select
        postCommentIdx,
        postCommentRefPostIdx,
        postCommentParentIdx,
        postCommentMemberId,
        postCommentContent,
        postCommentCreatedAt,
        postCommentUpdatedAt,
        postCommentState
        from tbl_post_comment
        where postCommentMemberId = #{postCommentMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postCommentContent'">
                    and postCommentContent like concat('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
              searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'postCommentCreatedAt'">
                    and postCommentCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCommentUpdatedAt'">
                    and postCommentUpdatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
            </choose>
        </if>

        <if test="searchDTO.sortColumn != null and searchDTO.sortOrder != null">
            order by
            <choose>
                <when test="searchDTO.sortColumn == 'postCommentIdx'">postCommentIdx</when>
                <when test="searchDTO.sortColumn == 'postCommentContent'">postCommentContent</when>
                <when test="searchDTO.sortColumn == 'postCommentCreatedAt'">postCommentCreatedAt</when>
                <otherwise>postCommentIdx</otherwise>
            </choose>
            <choose>
                <when test="searchDTO.sortOrder == 'asc'">asc</when>
                <otherwise>desc</otherwise>
            </choose>
        </if>

        limit #{pageDTO.pageSkipCount}, #{pageDTO.pageSize}
    </select>

    <select id="commentTotalCount" resultType="int">
        select count(postCommentIdx)
        from tbl_post_comment
        where postCommentMemberId = #{postCommentMemberId}

        <if test="searchDTO.searchWord != null and searchDTO.searchWord != ''">
            <choose>
                <when test="searchDTO.searchType == 'postCommentContent'">
                    and postCommentContent like concat('%', #{searchDTO.searchWord}, '%')
                </when>
            </choose>
        </if>

        <if test="searchDTO.startDate != null and searchDTO.startDate != '' and
              searchDTO.endDate != null and searchDTO.endDate != ''">
            <choose>
                <when test="searchDTO.dateType == 'postCommentCreatedAt'">
                    and postCommentCreatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
                <when test="searchDTO.dateType == 'postCommentUpdatedAt'">
                    and postCommentUpdatedAt between #{searchDTO.startDate} and #{searchDTO.endDate}
                </when>
            </choose>
        </if>
    </select>

</mapper>