<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.ReportMapper">
    <select id="getReports" parameterType="net.spb.spb.dto.ReportPageDTO" resultType="net.spb.spb.domain.ReportVO">
        select reportIdx, reportRefIdx, reportRefType, reportCreatedAt, reportState, reportMemberId
        from tbl_report
        <where>
            1=1
            <if test="reportRefType != null and reportRefType.name() != ''">
                and reportRefType=#{reportRefType}
            </if>
            <if test="search_report_member != null and search_report_member != ''">
                and reportRefType=#{reportRefType}
            </if>
            <if test="search_report_state != null and search_report_state != '' and search_report_state != 0">
                and reportState = #{search_report_state}
            </if>
            <if test="search_start_date != null and search_start_date != ''">
                and reportCreatedAt <![CDATA[>=]]> #{search_start_date}
            </if>
            <if test="search_end_date != null and search_end_date != ''">
                and reportCreatedAt <![CDATA[<=]]> #{search_end_date}
            </if>
        </where>
        order by ${sort_by} ${sort_direction}
    </select>
</mapper>