<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spb.spb.mapper.TeacherMapper">
    <!--선생님 메인 조회-->
    <select id="selectTeacher" resultType="net.spb.spb.domain.TeacherVO">
        select teacherIdx, teacherName, teacherId, teacherIntro, teacherState, teacherProfileImg, teacherSubject
        from tbl_teacher
        where teacherId = #{teacherId}
    </select>
    <!--선생님 강좌 조회-->
    <select id="selectTeacherLecture" resultType="net.spb.spb.domain.LectureVO">
        select lectureIdx, lectureTitle, lectureThumbnailImg, lectureAmount
        from tbl_lecture
        where lectureTeacherId = #{teacherId}
        order by lectureIdx desc
    </select>
    <!--선생님 메인 조회-->
    <select id="getTeacherMain">
        select teacherId, teacherName, teacherProfileImg, teacherSubject
        from tbl_teacher
        where teacherSubject = #{subject}
        <if test="searchDTO.searchWord != null">
            AND teacherName like CONCAT('%', #{searchDTO.searchWord}, '%')
        </if>
        order by teacherName asc
        limit #{pageRequestDTO.pageSkipCount}, #{pageRequestDTO.pageSize}
    </select>
    <!--과목 전체 조회-->
    <select id="getAllSubject">
        select distinct teacherSubject
        from tbl_teacher
        where 1=1
        order by teacherSubject
    </select>
    <!--과목별 선생님 조회-->
    <select id="getAllTeacher">
        select teacherId, teacherName, teacherProfileImg, teacherSubject
        from tbl_teacher
        where 1=1
        <if test="searchDTO.searchWord != null">
            AND teacherName like CONCAT('%', #{searchDTO.searchWord}, '%')
        </if>
        order by teacherName asc
        limit #{pageRequestDTO.pageSkipCount}, #{pageRequestDTO.pageSize}
    </select>
    <!--북마크 정보 조회-->
    <select id="selectBookmark">
        select a.bookmarkLectureIdx
        from tbl_bookmark a
        join tbl_lecture b on a.bookmarkLectureIdx = b.lectureIdx
        where b.lectureTeacherId = #{teacherId}
        and a.bookmarkMemberId = #{memberId}
    </select>
    <!--선생님 정보 총 개수 조회-->
    <select id="getTotalCount">
        select count(*)
        from tbl_teacher
        where 1=1
        <if test="subject != null">
            AND teacherSubject =#{subject}
        </if>
        <if test="searchDTO.searchType != null">
            AND teacherName LIKE CONCAT('%', #{searchDTO.searchWord}, '%')
        </if>
    </select>
</mapper>    